.placeholder {
  text-align: center;
}

.header {
  /* background-color: #143a5a; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3a83bb;
  margin: 0;
}

.link {
  color: #79aff5;
}
