.button {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 5px auto;
  border: none;
  border-radius: 50%;
  text-decoration: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
  cursor: pointer;
  color: var(--trinary);
  // box-shadow: 0 5px 20px -5px rgba(#818181, 0.9);
}

.icon {
  width: 4rem;
  height: 4rem;
  fill: red;
  path {
  }
}
